/* Accordion Block — ANZ styling */
.accordion details {
  border: 1px solid var(--anz-border-grey);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 0;
  border-top: none;
}

.accordion details p {
  margin-bottom: 0.8em;
  font-size: var(--body-font-size-xs);
  line-height: 1.54;
  color: var(--anz-light-text);
}

.accordion details a:any-link {
  color: var(--anz-link-blue);
  text-decoration: underline;
}

.accordion details summary {
  position: relative;
  padding: 16px 24px;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

.accordion details summary h2 {
  color: var(--anz-link-blue);
  font-size: var(--heading-font-size-m);
  font-weight: 700;
  margin: 0;
}

.accordion details[open] summary {
  background-color: var(--background-color);
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: var(--anz-light-grey);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid var(--anz-link-blue);
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 0 24px 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: 1px solid var(--anz-border-grey);
  background-color: var(--background-color);
}
